<a href="https://colab.research.google.com/github/ZarAlekseiv/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
escuela= "FES Aragon"
print(escuela)
print("-----")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es
una
frase 
de multiples lineas
y tambien es 
un tipo de dato
"""
print(frase)

nombre = "jose"
nombre_completo = "jose sosa cardenas"

## Intro Python
### Variables
tipo dinamico
escuela = "FES Aragón"

#Print
con comas,
con signo mas +
con format()
con el operador f""

In [ ]:

print(nombre, edad)

In [ ]:
# + concatena
print(nombre+ str(edad))
print(nombre+nombre_completo)

In [ ]:
# con formato -> Su nombre: Jose y su edad es 13 años.
print("Su nombre es", nombre,"y su edad es de",edad,"años.")
print("Su nombre es {0} y su edad es de {1} años.".format(nombre, edad) )
print("Su nombre es {1} y su edad es de {0} años.".format(nombre, edad) )

In [ ]:
#Con formato con el operado f"""
print(f"Su nombre es {nombre} y su edad es de {edad} años.")

TypeError: ignored

#Carater de escape
\ n Salto de linea
\ t Tabulador
\ a beep
\ " Imprimir comilla doble
\ ' Imprimir comilla simple

In [ ]:
"""
Esto es un comentario multiple de linea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

#Ayuda de tipos de dato en python
dir()
help()
#str, int, float, bool ... list, dict, set
dir(str)
help(str)

In [ ]:
#str, int, float, bool ... list, dict, set
#help(str)

In [ ]:
print(nombre_completo.capitalize() )
print(nombre_completo.upper(), end="----" )
print(nombre_completo.title() )

In [ ]:
help(print)

#CLASE STRING
ES MANEJADA COMO UN ARREGLO (C O JAVA) O LISTA (PYTHON)
telefono = "Huawei mate 30 pro"

In [ ]:
telefono = "Huawei mate 30 pro"
print(telefono[5:7] )

In [ ]:
print(telefono[7:11:1])
#el inicio y el invremento son opcionales
print(telefono[:11])
#el valor por defecto de stop
print(telefono[::])
#incremento negativo
print(telefono[::-1])
#
print(telefono[-3::1])

#slicing (rebanado)
[ini:stop:incremento]
nota: el stop no se incluye, termina en el valor anterior al stop

# Metodos de string (str)
Existen metodos muy utiles en esta clase.
facultad =    "facultad de estudos superiores aragon     "

In [58]:
facultad = "     facultad de estudos superiores aragon     "
print(facultad.count("s"))#cuenta
print(facultad.find("u"))#encuentra
prit(facultad.strip())#borra espacios en blanco y saltos de linea
print(len(facultad))
tamaño= len(facultad)
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(""))

#copiar cadena
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES ARAGON"

#copiar listas
colores = [rojo, verde]
otra= colores.copy
print(colores)
print(otra)
otra.append("rosa")

TypeError: ignored