<a href="https://colab.research.google.com/github/ZarAlekseiv/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numeros_txt = "1, 2, 3, 4, 5, 35, 15, 12,"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt [ j ] = int (numeros_txt[j].strip())

print(numeros_txt)


# Funcion range()

range(inicio, stop, incremento)
print(range(0, 10, 1))
rango = range(1, 10, 2)

for x in rango:
    print(x)

rango = range(10)
for x in rango:
  print(x)

In [ ]:

# Funcion range()

#range(inicio, stop, incremento)
print(range(0, 10, 1))
rango = range(1, 10, 2)

for x in rango:
    print(x)

rango = range(10)
for x in rango:
  print(x)

#listas
- notables
-declaran  []
-selector [ int ]

#tuplas
- NO mutables 
-se declaran con ()
-selector [ int ]

#diccionario
- son mutables
-son conjunto de pares de llave: valor
-equivalentes alos Objetos JSON de JavaScript

#conjuntos
- REPRESENTACION DE LA TEORIA DE CONJUNTOS

In [ ]:
#Listas
frutas = ["Pera", "Manzana", "Fresas", "Kiwi", "Naranja"]
print(frutas) 
cosas = ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas)
frutas[2]="Fresa" #frutas = frutas[2].capitalize()
print(frutas)     #help(list) : NO usar los que esten con guion bajo

#agregar a lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2, "Sandía") # Se inserto en el segundo lugar = Manzana
print(frutas)

#Concatenar elementos
fecha = ["06", "10", "2020"] # 06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

#eliminar elementos

In [ ]:
# eliminar elementos
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo = cosas.pop()
print(algo)
print(cosas)

algo = cosas.pop(2)
print(cosas)
print(algo)
#cosas.remove(2)
print(cosas)

#vacias cosas
#cosas.clear()
print(cosas)

#ordenar
print(frutas)
frutas.sort()
print(frutas)
cosas.sort()
print(cosas)

In [ ]:
#Slicing

cosas = ["Cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros[8:13:1]) #POSICION INICIAL: TOPE: INCREMENTO

#Sustituir rebanadas

numeros[8:13:] = [-2,-2]
print(numeros)

#Pregunatr por existencia
print(100 in numeros)

LISTAS MULT DIMENSIÓN

Listas dentro listas

In [76]:
computadoras = ["HP", "Mac Book Pro 17", "Mate Book", "Lenovo Legion" ]
oss = ["Windows 10", "Linux", "Android", "iOS", ]

computo = [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2][0:5])
print(computo[0][3][-8: : -1])
print("Linux" in computo[1])

dbms = ["MySQL", "Open Source", False ] , ["MS SQL", "De paga", True ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], (['MySQL', 'Open Source', False], ['MS SQL', 'De paga', True])]
MySQL
De paga